*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

/*Capa principal*/

#inicio{
    background-image: url("../img/capa.png");
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    padding-bottom: 10%;
    background-attachment: fixed;
    border-radius: 0px 0px 300px 50px;
}

#inicio h1{
    color: white;
    padding: 2%;
    font-family: RUS;
    text-align: center;
    font-size: 6vw;
    margin-top: 25%;
}
#inicio span{
    color: #FFBD59;
}
#inicio h2{
    color: white;
    padding: 2%;
    font-family: R01;
    text-align: center;
    font-size: 2vw;
}
@media screen and (max-width:800px) {
    #inicio{
        background-size: cover;
        padding-bottom: 25%;
        border-radius: 0px 0px 50px 10px;
    }
    #inicio h1{
        font-size: 11vw;
        margin-top: 25%;
    }
    #inicio h2{
        font-size: 6vw;
    }
}

/**cards*/
#cards{
    display: flex;
    flex-direction: row;
    margin-top: -5%;
    margin-bottom: 10%;
    justify-content: center;
}
.card{
    width: 15%;
    padding: 1%;
    margin: 2%;
    background-color: rgb(255, 255, 255);
    border-radius: 25px 25px 4px 25px;
    box-shadow: 0 0 1em rgba(41, 41, 41, 0.185);
    transition: 0.6s;
}
.card button{
    border: none;
    padding: 5%;
    background-color: #1A063A;
    border-radius: 5px;
    margin-top: 8%;
    font-size: 1.1vw;
    color: aliceblue;
    cursor: pointer;
    transition: 0.6s;
    border: 2px solid #1a063a00;
    margin-left: 28%;
}
.card button:hover{
    background-color:white ;
    color: #1A063A;
    border: 2px solid #1A063A;
}
.card:hover{
    box-shadow: 0 0 2em rgb(116, 116, 116);
}
.card img{
    width: 40%;
    margin-left: 30%;
}
.card h3{
    text-align: center;
    font-family: R05;
}
@media screen and (max-width:800px) {
    #cards{
        flex-wrap: wrap;
        margin-top: -10%;
    }
    .card{
        width: 70%;
        margin-left: 2%;
        box-shadow: 0 0 1em rgba(170, 170, 170, 0.596);
        border-radius: 5px 5px 5px 5px;
        padding: 3%;
    }
    .card img{
        width: 40%;
        margin-left: 30%;
    }
    .card button{
        font-size: 5.3vw;
    }
}
/*planos**/
#planos{
    display: flex;
    flex-direction: row;
}
.plano{
    width: 30%;
    padding: 2%;
    margin: 3%;
    border-radius: 25px 25px 4px 25px;
    box-shadow: 0 0 1em rgba(170, 170, 170, 0.596);
    text-align: center;
    transition: 0.6s;
}
.plano:hover{
    width: 32%;
    box-shadow: 0 0 1em rgba(136, 136, 136, 0.692);
}
.plano button{
    border: none;
    padding: 5%;
    background-color: #1A063A;
    border-radius: 5px;
    margin-top: 8%;
    font-size: 15px;
    color: aliceblue;
    cursor: pointer;
    transition: 0.6s;
    border: 2px solid #1a063a00;
    margin-left: -1%;
}
.plano button:hover{
    background-color:white ;
    color: #1A063A;
    border: 2px solid #1A063A;
}
.plano h1{
    font-family: R05;
    margin-top: 2%;
}
.plano h4{
    font-family: R03;
    margin-top: 5%;
}
.plano h1 span{
    padding-bottom: 2%;
    border-bottom:2px solid #1A063A;
}
.plano img{
    width: 20%;
}

@media screen and (max-width:800px) {
    #planos{
        flex-wrap: wrap;
    }
    .plano{
        width: 70%;
        margin-left: 13%;
        padding-top: 10%;
        padding-bottom: 10%;
    }
    .plano:hover{
        width: 70%;
        box-shadow: 0 0 1em rgba(136, 136, 136, 0.692);
    }
}
/**qaulidade*/
#qualidade{
    display: grid;
    grid-template-areas: "q1 q1 q1 q1 q1 q1"
                         "q2 q2 q2 q3 q3 q3";
    /* background-color: #2F0A61; */
    background-image: url("../img/cpufundo.png");
    background-size: cover;
    background-attachment: fixed;
    color: white;
    border-radius: 50px 200px 50px 200px;
    margin-top: 10%;
    padding: 3%;
}

#qualidade h1{
    text-align: center;
    font-family: RLW;
    grid-area: q1;
    margin: 3%;
    font-weight: bolder;
}
#qualidade-1{
    padding: 5%;
    color: white;
    grid-area: q2;
}

#qualidade-1 img{
    width: 30%;
    margin: 5%;
    margin-top: -5%;
}
#qualidade-2{
    padding: 5%;
    color: white;
    grid-area: q3;
}

#qualidade-2 h3{
    font-family: M01;
    font-weight: 100;
    line-height: 25px;
}

@media screen and (max-width:800px) {
    #qualidade{
        grid-template-areas: "q1 q1 q1 q1 q1 q1"
        "q2 q2 q2 q2 q2 q2"
        "q3 q3 q3 q3 q3 q3";
        border-radius: 50px 100px 50px 100px;
        padding: 3%;
        padding-top:10% ;
        padding-bottom: 15%;
        margin-top: 15%;
    }
    #qualidade-1 img{
        margin-left: 10%;
    }
}

#textos-complementares{
    display: flex;
    flex-direction: row;
    padding: 15%;
    font-family: sans-serif;
    letter-spacing: 0.5px;
}
#textos-1{
    width: 50%;
}
#textos-1 h1{
    margin: 5%;
    font-size: 22px;
    color: #292929;
}
#textos-1 h6{
    border-left: 4px solid #2F0A61;
    font-size: 17.5px;
    font-family: R03;
    font-weight: 100;
    padding: 2%;
    line-height: 22px;
}
#textos-2{
    width: 50%;
}
#textos-2 img{
    width: 70%;
    margin-left: 20%;
}
@media screen and (max-width:800px) {
    #textos-complementares{
        flex-wrap:wrap-reverse;
        padding:3% ;
        margin-top: 15%;
        margin-bottom: 10%;
    }
    #textos-1{
        width: 100%;
    }
    #textos-2{
        width: 100%;
        padding-left: 2%;
    }
    #textos-2 img{
        width: 40%;
        margin-left: 30%;
    }

}

footer{
    display: flex;
    flex-direction: row;
    background-image: url("../img/cpufundo.png");
    background-size: cover;
    background-attachment: fixed;
    color: white;
    text-align: center;
    font-family: R01;
    border-radius: 50px 150px 0px 0px;
    justify-content: center;
    align-items: center;
}
footer h6{
    font-size: 17px;
}
#footer-logo img{
    width: 60%;
    border-radius: 80px;
}
#footer-logo{
    padding: 0.5%;
    width: 10%;
    font-size: 20px;
}
@media screen and (max-width:800px) {
    #footer-logo{
        display: none;
    }
    footer h6{
        font-size: 16px;
        padding: 5%;
    }
}

